#include <Adafruit_NeoPixel.h>

#define PIN 2
#define NUMPIXELS   12 // input pin Neopixel is attached to

Adafruit_NeoPixel pixels = Adafruit_NeoPixel(NUMPIXELS, PIN, NEO_GRB + NEO_KHZ800);

#define PIN 3 
#define NUMPIXELS      12 // number of neopixels in Ring


Adafruit_NeoPixel pixels2 = Adafruit_NeoPixel(NUMPIXELS, PIN, NEO_GRB + NEO_KHZ800);

int delayval = 100; // timing delay

int redColor = 0;
int greenColor = 0;
int blueColor = 0;

int sensorValue = 0;

void setup() {
  pixels.begin();
  pixels2.begin();// Initializes the NeoPixel library.
//  Serial.begin(9600);
  pinMode(A0, INPUT);
}

void loop() {
  setColor();
  Lights();
  delay(delayval);
}
void Lights(){
	for(int i=0;i<NUMPIXELS;i++){

    // pixels.Color takes RGB values, from 0,0,0 up to 255,255,255
    pixels.setPixelColor(i, pixels.Color(redColor, greenColor, blueColor));
    pixels2.setPixelColor(i, pixels.Color(redColor, greenColor, blueColor));// Moderately bright green color.

    pixels.show();
    pixels2.show();// This sends the updated pixel color to the hardware.

     // Delay for a period of time (in milliseconds).
    
    // Serial.println(i);
    
   

  }

}

// setColor()
// picks random values to set for RGB

void setColor(){
  if(analogRead(A0) < 333){
  redColor = 255;
  greenColor = 0;
  blueColor = 0;
  }
   else if (analogRead(A0) > 333 && analogRead(A0) < 666){
      redColor = 0;
  	  greenColor = 255;
      blueColor = 0;
    }
   else if (analogRead(A0) > 666){
      redColor = 0;
  	  greenColor = 0;
      blueColor = 255;
    }
 
  
}
